* {
    margin: 0;
    padding: 0;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
/* ### Primary */

--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);

/* ### Neutral */

--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
}

body {
    background-color: var(--Dark-Blue);
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1.6rem;
}

.advice-gen {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    max-width: 54rem;
    display: grid;
    grid: max-content 3.2rem / 1fr;
}

.advice-gen__output {
    background-color: var(--Dark-Grayish-Blue);
    padding: 4rem 2.4rem 6.4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 1.5rem;
}

@media screen and (min-width: 545px) {
    .advice-generator__output {
        padding: 4.8rem 4.8rem 7.2rem;
    }
}

